<h1>
  {{title}}
</h1>
<body>
  <input ID="value1" value="0" (change)="setvalue1($event)"><br><br><input id="value2" value="0" (change)="setvalue2($event)"><br><br>
  <button class="operators" ID="+"  (click)="changesign($event)">+</button><button class="operators" ID="*" (click)="changesign($event)" >*</button><br>
  <button class="operators" ID="-"  (click)="changesign($event)" >-</button><button class="operators" ID="/" (click)="changesign($event)" >/</button><br><br>
  {{computing}}<br><br>
  <button ID="calc"  (click)="calculate()">Rechnen</button><br>
  <div id="list"><div *ngFor="let item of outputtable"  >{{item}}<br></div></div>
</body>

